@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html, body {
  min-height: 100%;
  background: #f9fafb;
}

::-webkit-scrollbar {
  width: 8px;
  background: #e5e7eb;
}
::-webkit-scrollbar-thumb {
  background: #c7d2fe;
  border-radius: 4px;
}